<%- include('../partials/header') %>
<div class="container">
  <section>
    <div class="center-align" id="welcome-header">
      <h1>Welcome Polymaths!<h1>
          <h2>Im Sophia, and im here to help you organize all of your learning interests.</h2>
          <a class="btn" href="/auth/google">Log In</a>
    </div>
  </section>
  <section>
    <h2>User Feed</h2>
    <ul class="collapsible">
      <% users.forEach(u => { %>
      <li>
        <div class="collapsible-header" id="user-card">
          <img width="75" height="75" class="circle" id="avatarPhoto" src="<%= u.avatar %>" alt="">
          <h2><%= u.name %></h2>
          <a href="/users/<%=u._id%>/friend" class="btn">Add Friend</a>
        </div>
        <div class="collapsible-body">
          <ul>
            <%u.topics.forEach(topic => {%>
            <% topic.contents.forEach(content => {%>
            <li>
              Topic: <%=topic.name%>
              <br>Assignment: <%=content.name%>
            </li>
            <%})%>
            <%})%>
          </ul>
        </div>
      </li>

      <% }) %>
    </ul>
  </section>
</div>
<%- include('../partials/footer') %>