<%- include('../partials/header') %>
<div class="container">
  <h1>Select any areas you are interested in studying below</h1>
  <form action="/users/<%=user._id%>/topics" method="POST">
    <div class="row">
      <% topicsList.forEach((topic,idx) => { %>
      <div class="col s4">
        <label>
          <input class="btn" type="checkbox" name="name" value="<%=topic%>" >
          <span id="topic-name"><%=topic%></span>
        </label>
        </div>
        <%})%>
      </div>
      
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
<%- include('../partials/footer') %>