<%- include('../partials/header') %>
<h1>You have arrived at your profile.</h1>
<div class="container">
  <h3>Name</h3>
  <span><%= user.name%></span>
  <h3>E-mail</h3>
  <span><%= user.email %></span>

  <% if (!user.name && !user.bio) { %>
  <form action="/topics/<%=topicId%>?_method=PUT" method="POST">
    <h2>What is your end goal with studying <%=title%></h2>
    <input type="text" name="goal">
    <h2>Do you have an end date in mind?</h2>
    <input type="date" name="goalDate">
    <button type="submit" class="btn">Submit</button>
  </form>
  <% } else { %>
  <div>
    <h3>Alias</h3>
    <span><%= user.name%></span>
    <h3>Bio</h3>
    <span><%= user.bio%></span>
  </div>
  <% }%>
  <div>Friends!
    <ul>
      <% friends.forEach(friend => { %>
      <div class="card">
        <div class="card-content">
          <li><%=friend.name%></li>
          <a href="">View Profile</a>
          <a href="">Remove Friend</a>
        </div>
      </div>

      <%})%>
    </ul>
  </div>
</div>


<%- include('../partials/footer') %>