<%- include('../partials/header') %>

<div class="container">
  <h1>You have arrived at your profile.</h1>
  <% if (!user.name && !user.bio) { %>
  <form action="/topics/<%=topicId%>?_method=PUT" method="POST">
    <h2>What is your end goal with studying <%=title%></h2>
    <input type="text" name="goal">
    <h2>Do you have an end date in mind?</h2>
    <input type="date" name="goalDate">
    <button type="submit" class="btn">Submit</button>
  </form>
  <% } else { %>
  <div>
    <div class="card">
      <div class="card-content">
        <img width="100" class="circle" id="avatarPhoto" src="<%= user.avatar %>" alt="">
        <h3>Name: <span class="info"><%= user.name%></span></h3>
        <h3>E-mail: <span class="info"><%= user.email %></span></h3>
        <h3>Alias: <span class="info"><%= user.name%></span></h3>
        <h3>Bio: <span class="info"><%= user.bio%></span></h3>
      </div>
    </div>
  </div>
  <!-- <% }%> -->

  <% friends.forEach(friend => { %>
  <div class="card">
    <div class="card-content">
      <h3>Friends</h3>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <div><span class="info"><%=friend.name%></span>
              <img width="30" id="avatarPhoto" src="<%= friend.avatar %>" alt="">
              <a class="btn" href="/users/<%=friend.id%>/unfriend">Remove Friend</a></div>
          </div>
          <div class="collapsible-body">
            <span class="info"><%=friend.alias%> if there was an alias here</span>
            <span class="info"><%=friend.bio%>if there was a bio here</span>

            <h3><%=friend.name%>'s Topics</h3>
            <ul class="collapsible">
              <%friend.topics.forEach(friendTopic => {%>
              <%if(friendTopic.contents.length > 0) {%>
              <li>
                <div class="collapsible-header">
                  <h3><%=friendTopic.name%></h3>
                </div>
                <div class="collapsible-body">
                  <%friendTopic.contents.forEach(content => { %>
                  <div class="card">
                    <div class="card-content">
                      <%if (content.method === 'book'){%>
                      <h3><i class="material-icons">import_contacts</i> <%=content.name%></h3>
                      <%} else if (content.method === 'video') {%>
                      <h3><i class="material-icons">play_circle_outline</i> <%=content.name%></h3>
                      <%} else if (content.method === 'article') {%>
                      <h3><i class="material-icons">description</i> <%=content.name%></h3>
                      <%} else { %>
                      <h3><i class="material-icons">collections_bookmark</i> <%=content.name%></h3>
                      <%}%>
                          <h3><i class="material-icons">insert_link</i><%=content.link%></h3>
                      <%if(content.notes){%>
                      <h3><i class="material-icons">event_notes</i><%=content.notes%></h3>
                      <%}%>
                        </div>
                      </div>
                      <%})%>
                    </div>
              </li>
              <%}%>
                <%})%>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%})%>
</div>
</div>
<%- include('../partials/footer') %>