<%- include('../partials/header') %>

<div class="container">
  <h1>You have arrived at your profile.</h1>
  <div class="card">
    <div class="card-content">
      <h3>Name</h3>
      <span><%= user.name%></span>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <h3>E-mail</h3>
      <span><%= user.email %></span>
    </div>
  </div>


  <% if (!user.name && !user.bio) { %>
  <form action="/topics/<%=topicId%>?_method=PUT" method="POST">
    <h2>What is your end goal with studying <%=title%></h2>
    <input type="text" name="goal">
    <h2>Do you have an end date in mind?</h2>
    <input type="date" name="goalDate">
    <button type="submit" class="btn">Submit</button>
  </form>
  <% } else { %>
  <div>
    <div class="card">
      <div class="card-content">
        <h3>Alias</h3>
        <span><%= user.name%></span>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h3>Bio</h3>
        <span><%= user.bio%></span>
      </div>
    </div>
  </div>
  <% }%>
  <div>
    <% friends.forEach(friend => { %>
    <div class="card">
      <div class="card-content">
        <h3>Friends</h3>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">
              <%=friend.name%>
              <a class="btn" href="/users/<%=friend.id%>/unfriend">Remove Friend</a>
            </div>
            <div class="collapsible-body">
              <%=friend.alias%>
              <%=friend.bio%>
              <h3>test content</h3>
              <%friend.topics.forEach(friendTopic => {%>

              <%})%>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <%})%>
  </div>
</div>


<%- include('../partials/footer') %>