<%- include('../partials/header') %>
<h1>You have arrived at your profile.</h1>
<div class="container">
  <h1><%= user.name%></h1>
  <h2><%= user.email %></h2>
  <form action="/users/profile?_method=PUT" method="POST">
    <!-- alias -->
    <label for="userAlias">Alias:</label>
    <input type="text" id="userAlias" name="alias" value=<%= user.alias%>>
    <!-- bio -->
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio"><%= user.bio %></textarea>
    <button type="submit">Update</button>
  </form>
</div>


<%- include('../partials/footer') %>