<%- include('../partials/header') %>

<div class="container">
  <section>
    <h1>Your Selected Topics</h1>
    <form action="/users/<%=user._id%>/topics"  method="POST">
      <label for="addTopic">
        <input type="text" name="name" value="add a new topic">
      </label>
      <button type="submit">Add Topic</button>
    </form>
    
    <div class="card deep-purple lighten-3">
      <div class="card-content">
        <h2>Open Topics</h2>
        <div class="row">
          <% topics.forEach((topic, idx) => { %>
          <% if (topic.isOpen) { %>
  
  
          <%if(topic.attention === 0){%>
            <!-- render red -->
            <div class="card small col s4 red darken-2" id="topic-card">
              <div class="card-content col-content">
                <h3><%= topic.name %></h2>
                  <h4>Completed: <%=topic.attention%></h2>
                  <% if(topic.goalDate) { %>
                  <span class="info"><%=topic.goalDate.toLocaleString()%></span>
    
                  <%} %>
              </div>
              <a class="btn" href="/topics/<%=topic.id%>">Expand Topic</a>
              <a href="/topics/<%=topic.id%>/remove" class="btn"><i class="material-icons">delete_forever</i></a>
            </div>
          <%} else if (topic.attention > 0 && topic.attention  < 6 ) {%></6>
            <!-- render orange -->
            <div class="card small col s4 amber darken-2" id="topic-card">
              <div class="card-content col-content">
                <h3><%= topic.name %></h2>
                  <h4>Completed: <%=topic.attention%></h2>
                  <% if(topic.goalDate) { %>
                  <span class="info"><%=topic.goalDate.toLocaleString()%></span>
                  <%} %>
              </div>
              <a class="btn" href="/topics/<%=topic.id%>">Expand Topic</a>
              <a href="/topics/<%=topic.id%>/remove" class="btn"><i class="material-icons">delete_forever</i></a>
            </div>
          <%} else {%>
            <!-- render green -->
            <div class="card small col s4 green" id="topic-card">
              <div class="card-content col-content">
                <h3><%= topic.name %></h2>
                  <h4>Completed: <%=topic.attention%></h2>
                  <% if(topic.goalDate) { %>
                  <span class="info"><%=topic.goalDate.toLocaleString()%></span>
    
                  <%} %>
              </div>
              <a class="btn" href="/topics/<%=topic.id%>">Expand Topic</a>
              <a href="/topics/<%=topic.id%>/remove" class="btn"><i class="material-icons">delete_forever</i></a>
            </div>
          <%}%>  
          
          <%}%>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="card deep-purple lighten-3">
      <div class="card-content">
        <h2>Closed Topics</h2>
        <div class="row">
          <% topics.forEach((topic, idx) => { %>
            <% if (!topic.isOpen) { %>
              <div class="card small col s4 blue" id="topic-card">
                <div class="card-content col-content">
                  <h3><%= topic.name %></h2>
                </div>
                <a class="btn" href="/topics/<%=topic.id%>">Expand Topic</a>
                <a href="/topics/<%=topic.id%>/remove" class="btn"><i class="material-icons">delete_forever</i></a>
              </div>
            <%}%>
            <% }) %>
      </div>
    </div>
  </section>
</div>



<%- include('../partials/footer') %>