<%- include('../partials/header') %>

<h1>Here are all of your topics</h1>
<div class="container">
  <div class="row">
    <% topics.forEach((topic, idx) => { %>

    <div class="card small col s4" id="topic-card">
      <div class="card-content col-content">
        <%= topic.name %>
        <% if(topic.goalDate) { %>
          <%=topic.goalDate%>
        <%} %> 
      </div>
      <a class="btn" href="/topics/<%=topic.id%>" >Expand Topic</a>
    </div>
    <% }) %>
  </div>
  
</div>

<%- include('../partials/footer') %>