<%- include('../partials/header') %>
<div class="container">
  <div class="card deep-purple lighten-3">
    <div class="card-content">
      <div class="heading valign-wrapper">
        <h1><%= title%></h1>
        <a href="/topics/<%=topicId%>/isOpen" class="btn">Close Topic</a>
        <a href="/topics/<%=topicId%>/isPublic" class="btn">
          <i class="material-icons"><%=topic.isPublic ? 'visibility' : 'visibility_off'%></i>
        </a>
      </div>

      <% if(!topic.goal && !topic.goalDate) { %>
      <div class="card">
        <div class="card-content">
          <form action="/topics/<%=topicId%>?_method=PUT" method="POST">

            <h2>What is your end goal for studying <%=title%>?</h2>
            <input type="text" name="goal" placeholder="Write goal here">
            <h2>Do you have an end date in mind?</h2>
            <input type="date" name="goalDate">

            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
      <% } else { %>
      <h3>Goal: <span class="info"><%=topic.goal %></span></h3>
      <h3><i class="material-icons">today</i> <span class="info"><%=topic.goalDate.toLocaleString()%></span> </h3>

      <div class="card">
        <div class="card-content">
          <h2>add content</h2>
          <form action="/users/<%=user.id%>/topics/<%=topicId%>/contents" method="POST">
            <label for="addContentName">Add Name</label>
            <input type="text" name="name" id="addContentName" value="add content name">
            <label for="addContentLink">Content Link</label>
            <input type="text" name="link" id="addContentLink" value="add content link">
            <div class="input-field col s12">
              <select name="method" multiple>
                <option value="book">Book</option>
                <option value="video">Video</option>
                <option value="article">Article</option>
                <option value="online course">Online Course</option>
              </select>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
      <%}%>

      

        <section>
          <h2>In Progress</h2>
          <ul class="collapsible">
            <%topic.contents.forEach(content => { %>
      <%if (!content.completed) {%>
      <li>
        <div class="collapsible-header">
          <h3><i class="material-icons">assignment</i> <%=content.name%></h3>
          <div class="buttons-row">
            <a href="/topics/<%=topicId%>/contents/<%=content._id%>/newNote" class="btn">Add Notes</a>
            <a href="/topics/<%=topicId%>/contents/<%=content._id%>/urgent"
              class="btn"><%=content.urgent ? 'Deprioritize' : 'Proioritize'%></a>
            <a href="/topics/<%=topicId%>/contents/<%=content._id%>/completed"
              class="btn"><%=content.completed ? 'Task is completed!' : 'Complete'%></a>
            <a href="/topics/<%=topicId%>/contents/<%=content._id%>/remove" class="btn"><i
                class="material-icons">delete_forever</i></a>
          </div>
        </div>
        <div class="collapsible-body">
          <%if (content.method === 'book'){%>
          <h3><i class="material-icons">import_contacts</i> <%=content.method%></h3>
          <%} else if (content.method === 'video') {%>
          <h3><i class="material-icons">play_circle_outline</i> <%=content.method%></h3>
          <%} else if (content.method === 'article') {%>
          <h3><i class="material-icons">description</i> <%=content.method%></h3>
          <%} else { %>
          <h3><i class="material-icons">collections_bookmark</i> <%=content.method%></h3>
          <%}%>
            <h3><i class="material-icons">insert_link</i><%=content.link%></h3>
          <%if(content.notes.length === 0){%>
          <h3>No notes to show</h3>
          <%} else {%>
          <h2>Notes:</h2>
          <div class="card" id="notes-card">
            <div class="card-content">
              
              <%content.notes.forEach(note => {%>
                <h2>note title</h2>
                <p><%=note.text%></p>
                <!-- update note will take us to the note show view? -->
                <!-- <a href="/topic/:id/content/:id/notes/:id" class="btn">Update Note</a> -->
                <a href="/topic/<%=topicId%>/content/<%=content._id%>/notes/<%=note._id%>/remove" class="btn">Delete Note</a>
              <%})%>
            </div>
          </div>
          <%}%>
              </div>
            </li>
            
          <%}%>
          <%})%>
          </ul>
          </section>

          <section>
            <h2>Completed</h2>
            <ul class="collapsible">
              <%topic.contents.forEach(content => { %>
              <%if (content.completed) {%>
              <li>
                <div class="collapsible-header">
                  <h3><i class="material-icons">assignment</i> <%=content.name%></h3>

                </div>
                <div class="collapsible-body">
                  <%if (content.method === 'book'){%>
                  <h3><i class="material-icons">import_contacts</i> <%=content.method%></h3>
                  <%} else if (content.method === 'video') {%>
                  <h3><i class="material-icons">play_circle_outline</i> <%=content.method%></h3>
                  <%} else if (content.method === 'article') {%>
                  <h3><i class="material-icons">description</i> <%=content.method%></h3>
                  <%} else { %>
                  <h3><i class="material-icons">collections_bookmark</i> <%=content.method%></h3>
                  <%}%>
                  <h3><i class="material-icons">insert_link</i><%=content.link%></h3>
                  <%if(content.notes.length === 0){%>
                  <h3>No notes to show</h3>
                  <%} else {%>
                  <h2>Notes:</h2>
                  <div class="card" id="notes-card">
                    <div class="card-content">
                      <p><%=content.notes%></p>
                    </div>
                  </div>
                  <%}%>
                </div>
              </li>
            <%}%>
                  <%})%>
            </ul>
          </section>
        </div>
    </div>
  </div>
  <%- include('../partials/footer') %>