<%- include('../partials/header') %>
<div class="container">
  <!-- add title to h1 -->
  <h1><%= title%></h1>

  <% if(!topic.goal && !topic.goalDate) { %>
  <form action="/topics/<%=topicId%>?_method=PUT" method="POST">
    <h2>What is your end goal with studying <%=title%></h2>
    <input type="text" name="goal">
    <h2>Do you have an end date in mind?</h2>
    <input type="date" name="goalDate">
    <button type="submit" class="btn">Submit</button>
  </form>
  <% } else {%>
  <h3>Goal</h3>
  <span><%=topic.goal %></span>
  <h3>Deadline</h3>
  <span><%=topic.goalDate %></span>
  <!-- Add Streaks -->
  <!-- Add number of tasks completed -->

  <!-- Add contnet here -->
  <form action="/users/<%=user.id%>/topics/<%=topicId%>/contents" method="POST">
    <!-- <label for=""></label> -->
    <input type="text" name="name" value="add content name">
    <button type="submit" class="btn">Submit</button>
  </form>

  <%}%>

</div>
<%- include('../partials/footer') %>